
body{
margin: 0;
padding: 0;
background-color: #020202;
font-family:  Helvetica, sans-serif;
}
.navbar{
position: sticky;
top: 0; 
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
padding: 0 20px;
background-image: linear-gradient(to bottom, rgb(255, 255, 255,0.2), rgb(0, 0, 0,0)) ;
opacity: 0.9;
z-index: 1000; 
backdrop-filter: blur(100px);
mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}
.idk{
color:white;  
}
.nav-left,
.nav-center,
.nav-right{
display: flex;
gap: 15px;
}
.nav-center{
position: absolute;
left: 42%;
color: white!important;
}
.nav-left{
font-size: 50px;
font-weight: bold;
color: #e92929!important;
z-index: 2000;
}
.navbar a,.nav-left a,.nav-center a,.nav-right a{
color: #ffffff !important;
backdrop-filter:none !important;
text-decoration: none;
z-index:2000;
}
.pinaka-main{
display: flex;
flex-direction: row; 
align-items: flex-start;
gap:20px;
margin: 0 auto;
margin-bottom: 60px;
}
.main-content-container{
flex: 1 1 auto;
display: flex;
flex-direction: column;
gap: 15px;
min-width: 0; 
}
.product-flex{
display: flex;
flex-wrap: wrap; 
gap: 30px;
}
.product-grid{
display: grid;
grid-template-columns: repeat(4, 1fr); 
gap:20px;
}
button{
cursor: pointer;
}
.aside{
color:white;
width: 20%; 
background-color: snow 0 ;
padding-top: 0px;
padding: 20px;
position: sticky; 
top: 20px;
align-self: flex-start; 
}
.product-container{
background: #fff,0;
display: flex;
flex-direction: column;
gap: 5px;
border-radius: 15px;
padding: 10px;
width: 300px;
height: 500px;
margin: 0 auto;
position: relative;
color:white;
}
h4{
margin: 0 auto;
padding: 10px 40px;
border-radius: 70px;
color: white;
mix-blend-mode: difference; 
font-size: 20px;
}
.prodimg{
max-width: 100%;
height: auto;
object-fit: cover;
border-radius: 20px;
}
.prodimg:hover{
box-shadow: 0px 0px 100px rgb(255, 255, 255,0.3);
}
.product-container p{
position:absolute;
bottom:70px;
}

.add{
border: none;
padding: 10px 40px;
background-color: #ffffff,0;
border-radius: 20px;
max-width: 100%;
position:absolute;
align-self: center;
bottom: 40px;
color:rgb(207, 37, 37);
font-weight: 900;
}
.add:hover{

background-color: #8a8a8a,0;
color:rgb(77, 67, 67);
box-shadow: 0px 0px 100px rgb(255, 255, 255,0.7);

}
footer {
position: fixed;
bottom: 0;
align-self: center;
width: 100%;
z-index: 1000; 
text-align: center;
padding: 20px;
background: #333,0;
color: white;
mix-blend-mode: difference;
margin-top: 30px;
z-index:-20
}
p{
margin-top: 3px;
align-self:left !important ;
color: rgb(168, 168, 168) !important ;
}
.checkout{
border: none;
padding: 10px 40px;
background-color: #ffffff,0;
border-radius: 60px;
width: 400px;
position:absolute;
align-self: center;
color:rgb(207, 37, 37);
font-weight: 900;
font-size: 20px;
}
.checkout:hover{
background-color: #8a8a8a,0;
color:rgb(0, 0, 0);
box-shadow: 0px 0px 100px rgb(255, 255, 255,0.7);
}
.aside:hover{
background-color: #020202;
} 
.aside h3{
font-size: 60px;
}
.nav-right img{
border-radius: 50%;
max-width: 60px;
border:#852b2b 4px solid;
}
.aside img{
position:absolute;
top:75px;
right:190px;
width: 70px;
height: 70px;
margin-right: 10px;
}
.aside img:hover{
transform: translatex(10px);
}