html {
    height: 100%;
}

body{
    background-image: url('background-image.jpg');
    height: 100%;
    display: flex;
    justify-content:center; /* horizontal centering */
    align-items:center;    /* vertical centering */
}

.login-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 100px 10px black;
    display: flex;
    justify-content: space-around; /* horizontal centering */
}

.header-text{
    padding: 30px 20px 10px 30px;
    margin: 20px;
    border-radius: 10px;
    font-size: 100px;
    color: rgb(226, 226, 226);
    font-family: "Bitcount Grid Double", serif;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;    /* vertical centering */
    background-color: black;
}

form{
    margin:30px 50px 30px 10px;
}

.uname-row{
    margin-bottom: 25px
}

.uname-label, .pcode-label{
    display: block;
    font: 20px "Bitcount Grid Double", serif;
}

.uname-box, .pcode-box{
    width: 100%;
    height: 30px;
    padding: 10px 0px 10px 5px;
    font-size: 20px;
    border-radius: 5px;
    border-color: lightgray;
}

.forgot-password{
    display: flex;
}

.fp-desc{
    font-weight: bold;
    font-size: 14px;
    color: gray;
}

.submit-button{
    width: 100%;
    color: white;
    font-family: "Bitcount Grid Double", serif;
    text-transform: uppercase;
    background-color: black;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: gray;
    cursor: pointer;
}

.fp-box {
    border-color: black;
    box-shadow: black;
}